body{
    background: rgb(219, 218, 205);
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 70px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    color: white;
}

.BigCounter{
    text-align: center;
    margin-top: 20px;
    background: black;
}

.BigCounter div {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: rgb(21, 18, 18);
    color: white;
    padding: 10px;
    margin: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(39, 39, 39);
    border-radius: 5px;
    
}